<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>Spellbook App</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Сервлеты -->
    <servlet>
        <servlet-name>CharacterServlet</servlet-name>
        <servlet-class>org.example.aston_practice.spellbook.servlet.CharacterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CharacterServlet</servlet-name>
        <url-pattern>/characters/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SpellServlet</servlet-name>
        <servlet-class>org.example.aston_practice.spellbook.servlet.SpellServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpellServlet</servlet-name>
        <url-pattern>/spells/*</url-pattern>
    </servlet-mapping>
</web-app>